In [74]:
import os
import pandas as pd
import glob


files = glob.glob('data/*.csv')
files

['data\\JC-201509-citibike-tripdata.csv',
 'data\\JC-201510-citibike-tripdata.csv',
 'data\\JC-201511-citibike-tripdata.csv',
 'data\\JC-201512-citibike-tripdata.csv',
 'data\\JC-201604-citibike-tripdata.csv',
 'data\\JC-201605-citibike-tripdata.csv',
 'data\\JC-201606-citibike-tripdata.csv',
 'data\\JC-201607-citibike-tripdata.csv',
 'data\\JC-201608-citibike-tripdata.csv',
 'data\\JC-201609-citibike-tripdata.csv',
 'data\\JC-20161-citibike-tripdata.csv',
 'data\\JC-201610-citibike-tripdata.csv',
 'data\\JC-20162-citibike-tripdata.csv',
 'data\\JC-20163-citibike-tripdata.csv']

In [75]:
df = pd.concat([pd.read_csv(f) for f in glob.glob('data/*.csv')], ignore_index = True)

In [76]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,24722,Subscriber,1975.0,1
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,0
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,1
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,2
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,2

In [77]:
# rename values in gender column
df['Gender'] = df['Gender'].map({1:'male', 0:'unknown', 2:'female'})

In [78]:
# add a minutes column
df['Trip Duration (min)'] = df['Trip Duration']/60

In [79]:
# df['time'] = df['Start Time'][:1]
# df['time'] = df['Start Time'].astype(str)
# df['time'] = df.time.str[10:]

In [80]:
df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,Trip Duration (min)
0,61,2015-09-21 14:53:16,2015-09-21 14:54:17,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,24722,Subscriber,1975.0,male,1.016667
1,290,2015-09-21 14:55:59,2015-09-21 15:00:50,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,24388,Customer,NaN,unknown,4.833333
2,786,2015-09-21 14:56:14,2015-09-21 15:09:21,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24442,Subscriber,1962.0,male,13.100000
3,477,2015-09-21 14:58:35,2015-09-21 15:06:32,3203,Hamilton Park,40.727596,-74.044247,3203,Hamilton Park,40.727596,-74.044247,24678,Subscriber,1977.0,female,7.950000
4,451,2015-09-21 14:59:55,2015-09-21 15:07:27,3203,Hamilton Park,40.727596,-74.044247,3186,Grove St PATH,40.719586,-74.043117,24574,Subscriber,1977.0,female,7.516667

In [81]:
# df.to_csv("CB201516.csv", sep='\t')